<ww-header></ww-header>

<div
  class="ww-container"
  ng-if="!$ctrl.loading.map"
>
  <ww-sidebar
    cards="$ctrl.cards"
    loading="$ctrl.loading"
  ></ww-sidebar>
  <ww-map
    ng-if="!$ctrl.loading.map"
    cards="$ctrl.cards"
    loading="$ctrl.loading"
  ></ww-map>
</div>

<div class="ww-map--loading" ng-if="$ctrl.loading.map">
  <div>
    <div class="cssload-container">
      <div class="cssload-speeding-wheel"></div>
    </div>
    <span class="md-headline">{{ ::$ctrl.text.INIT }}</span>
  </div>
</div>
