@import "../../styles/responsive";
@import "card.css";

ww-card {
  width: 100%;

  .md-button {
    text-overflow: ellipsis;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  md-card {
    display: block;    
  }
  .ww-card__image {
    float: left;
  }
  .buttons-group {
    display: flex;
    justify-content: right;
    margin-top: .5em;
    gap: .5em;
    // clear: both;
    .md-button {
      margin: 0;
    }
  }

  .ww-card {
    margin: 10px;
    padding: 10px;
    border-radius: 0;
    box-shadow: none;

    .ww-card__image {
      background: #ededed;
      width: 120px;
      height: 120px;
      margin-right: 10px;
      .md-media-sm,
      .md-media-sm > img {
        width: auto;
        height: auto;
        max-width: 120px;
        max-height: 120px;
      }

      @include x-small {
        width: 80px;
        height: 80px;
        .md-media-sm,
        .md-media-sm > img {
          max-width: 80px;
          max-height: 80px;
        }
      }
    }
    .ww-card__title {
      padding-bottom: 5px;
      font-weight: 600;
      font-size: 18px;

      @include x-small {
        font-size: 16px;
      }
    }

    &:focus {
      outline: 0;
      border: 4px solid #bbb;
      padding: 6px;
    }

    &.ww-card--link {
      cursor: pointer;
    }
  }

  .ww-card__upload {
    font-weight: 600;
  }

  &.ww-card-active {
    .ww-card {
      border: 4px solid #bbb;
      padding: 6px;
    }
  }
}
