<!--
  Dialog template for details and navigation.

  Navigation meaning open external map (map apps or services).
-->
<md-dialog class="navigation-dialog">
  <md-dialog-content>
    <md-card-title-text>
      <h2>{{ $ctrl.monumentData.name }}</h2>
    </md-card-title-text>

    <p>{{ ::$ctrl.text.ADDRESS }}: {{ $ctrl.getFormattedAddress() }}<br>
      {{ ::$ctrl.text.LOCATION }}: {{ $ctrl.getFormattedLocation() }}</p>

      <!--
        TODO?: Więcej danych po kliknięciu w zabytek #35

        Potencjalnie dodatkowe, asynchrorniczne pobranie danych z: getWikidataDetails()
      -->

    <div class="buttons-group">
      <div class="group-label">{{ ::$ctrl.text.SELECT_NAVIGATION_METHOD }}</div>
      <md-button class="md-primary" ng-click="$ctrl.navigateToAddress()" title="{{ $ctrl.getFormattedAddress() }}">
        <md-icon>contact_mail</md-icon>
        {{ ::$ctrl.text.USE_ADDRESS }}
      </md-button>
      <md-button class="md-primary" ng-click="$ctrl.navigateToLocation()" title="{{ $ctrl.getFormattedLocation() }}">
        <md-icon>pin_drop</md-icon>
        {{ ::$ctrl.text.USE_LOCATION }}
      </md-button>
    </div>

    <div class="buttons-group">
      <div class="group-label">{{ ::$ctrl.text.EXTERNAL_LINKS }}</div>
      <md-button 
        ng-href="https://www.wikidata.org/wiki/Q{{ $ctrl.monumentData.id }}?uselang=pl"
        target="_blank" rel="noopener"
      >
        <md-icon>open_in_new</md-icon>
        {{ ::$ctrl.text.WIKIDATA }}
      </md-button>
      <md-button 
        ng-href="https://zabytek.pl/pl/szukaj?szukaj={{ $ctrl.monumentData.inspireId }}"
        ng-if="$ctrl.monumentData.inspireId"
        target="_blank" rel="noopener"
      >
        <md-icon>open_in_new</md-icon>
        zabytek.pl
      </md-button>
      <md-button 
        ng-href="{{ $ctrl.getCommonsUrl() }}"
        ng-if="$ctrl.monumentData.category"
        target="_blank" rel="noopener"
      >
        <md-icon>open_in_new</md-icon>
        {{ ::$ctrl.text.WIKIMEDIA_COMMONS }}
      </md-button>
    </div>

  </md-dialog-content>

  <md-dialog-actions class="actions">
    <md-button ng-click="$ctrl.closeDialog()">{{ ::$ctrl.text.CLOSE }}</md-button>
  </md-dialog-actions>
</md-dialog>
